@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Orbitron');

body {
	background-color: #0a64a4;
	font-family: 'Architects Daughter', cursive;

}

.form-bubble {
	position:absolute;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid #6be400;
	border-radius: 50%;
}

.relative-div {
	position: relative;
	width: 250px;
	height: 250px;
	background-color: #00b060;
	border-radius:50%;
}

#search-bar {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
}

#submit {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);

}

.preview {
	width: 200px;
	height: 200px;
}

.post {
	display: inline-block;
	width: 30%;
	overflow: hidden;
	color: #03406A;
	border: 3px solid #6be400;
	margin: 5px 1%;
	padding: 5px;
	border-radius: 6px;
	background-color: #00b060; 
}

.r-post {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: #36D88E;
}

p {
	white-space: nowrap;
	overflow: hidden;
}

.title {
	font-size: 20px;
}

.author {
	font-size: 16px;
}

a {
	text-decoration: none;
}

a:visited, a:link, a:hover {
	color: #03406A;
}

.results {
	text-align: center;
}

.post.ng-enter {
	-webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}

.search.ng-leave, .results.ng-leave {
	-webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}

select {
	width: 100px;
}
/*Animations*/

/*Scale up*/

@keyframes scaleUp {
	from { 
		opacity: 0.3; 
		transform: scale(0.8); 
	}
}
@-moz-keyframes scaleUp {
	from { 
		opacity: 0.3; 
		-moz-transform: scale(0.8); 
	}
}
@-webkit-keyframes scaleUp {
	from { 
		opacity: 0.3; 
		-webkit-transform: scale(0.8); 
	}
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { 
		-webkit-transform: translateZ(-3000px) rotateZ(360deg); 
		opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { 
		-moz-transform: translateZ(-3000px) rotateZ(360deg); 
		opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); 
		opacity: 0; }
}